@model Ejercicios.Models.Propina

<h1>Resultados de la Propina</h1>
<p>Monto Total: @Model.MontoTotal</p>
<p>Porcentaje de Propina: @Model.PorcentajePropina %</p>
<p>Monto de la Propina: @Model.MontoPropina</p>
<p>Monto Total con Propina: @Model.MontoTotalConPropina</p>
<a asp-action="Index" class="btn btn-secondary">Calcular otra vez</a>
