@{
    ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
    <h1>Lista de Tareas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Tarea" asp-action="Index">Inicio</a></li>
            
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="pagetitle">
    <h1>Propinas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Propinas" asp-action="Index">Inicio</a></li>

        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="pagetitle">
    <h1>Contraseñas Seguras</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Password" asp-action="Index">Inicio</a></li>

        </ol>
    </nav>
</div><!-- End Page Title -->